# Core Data Stack
numpy<2.0.0
pandas>=2.0.0
scikit-learn
xgboost
shap
lightgbm

# MLOps & Monitoring
clearml
dagshub
evidently

# Deployment & Utilities
fastapi
uvicorn
requests
wbgapi
python-dotenv

# Streamlit UI (Stable Match)
streamlit==1.32.0
altair==5.2.0
matplotlib
seaborn