# Data Science Core
pandas
numpy
scikit-learn
lightgbm
xgboost
shap
wbgapi  # World Bank API client

# MLOps & Experiment Tracking
clearml
dagshub
evidently

# Backend & API
fastapi
uvicorn
python-multipart
requests
python-dotenv

# Frontend
# Web & Frontend
streamlit==1.32.0
altair==5.2.0
matplotlib
seaborn